
{% extends 'base.html.twig' %}
{% block title %} Crear Torneo {% endblock title %}
{% block body %}
    <h2>Crear Nuevo Torneo</h2>
            <hr>

            {{ form_start(formulario) }}
            {{ form_end(formulario) }}
{% endblock %}

