{% extends 'base.html.twig' %}
{% block title %}Crear Equipo{% endblock title %}
{% block body %}
    {{ form_start(formulario, {'attr': {'id': 'formTorneo'}}) }}
    {{ form_widget(formulario) }} {# Esto dibuja los campos #}
    
    <div class="botones-accion">
        <button type="submit" class="btn-guardar">Guardar Equipo</button>
        <button type="button" id="cancelar">
            <a href="{{ path('inicio') }}">Cancelar</a>
        </button>
    </div>
{{ form_end(formulario, {'render_rest': false}) }}
{% endblock %}