{% extends 'base.html.twig' %}
{% block title %} Crear Torneo {% endblock title %}
{% block body %}
    <nav class="navigator-bar">
        <ul>
            <li class="logoFC"><a href="#"><img src="../../public/img/logo.png" alt="friendlyLogo"></a></li>
            <li><search>Buscar Torneo</search></li>
            <li class="crear-torneo"></li>
            <li class="myaccount"></li>
        </ul>
    </nav>
    <section class="hero-section">
        <div class="hero-text">
            <h1>¡Crea tu torneo YA en 2 minutos!</h1>
            <button type="button"><a href="{{ path('crear-torneo') }}">Crear Torneo</a></button>
        </div>
    </section>
    <div class="main-container">
        <section class="mis-torneos">

        </section>
        <section class="torneos-seguidos">

        </section>
        <section class="ligas-populares">

        </section>
    </div>
{% endblock %}