{% extends 'base.html.twig' %}
{% block title %}Añadir Jugador{% endblock title %}

{% block body %}
    <div class="crear-jugador">
        <h2>Añadir Nuevo Jugador</h2>
        <hr>

        {{ form_start(formulario, {'attr': {'id': 'formTorneo'}}) }}
            {{ form_widget(formulario) }}

            <div class="botones-accion">
                <button type="button" id="cancelar">
                    <a href="{{ path('inicio') }}">Cancelar</a>
                </button>
            </div>
        {{ form_end(formulario) }}
    </div>
{% endblock %}