{% extends 'base.html.twig' %}
{% block title %}Editar Torneo {% endblock title %}
{% block body %}
    <div class="editar-jugador">
        <div id="RLCBlock">
            <h2>Editar Jugador</h2>
        </div>
        <div id="RLCForm">
            {{ form_start(formulario, {'attr': {'id': 'formJugador'}}) }}
            {{ form_end(formulario) }}
        </div>
        <div class="botones-accion">
            <button id="cancelar"><a href="{{ path('torneo',{'id': torneo.id}) }}">Cancelar</a></button>
        </div>
    </div>
{% endblock %}