{% extends 'base.html.twig' %}
{% block title %} Inicio {% endblock title %}
{% block body %}
    <section class="hero-section">
        <div class="hero-content">
            <h1>Crea tu torneo<br>en 2 minutos</h1>
            <a href="{{ path('crear-torneo') }}" class="hero-cta">Nuevo torneo</a>
        </div>
    </section>
    <main class="main-container">
        <section class="section-container">
            <h2>Mis torneos</h2>
            <hr>
            {% for torneo in torneos %}
            <div class="card">
                <div class="card-info">
                    <a href="{{ path('torneo',{'id': torneo.id}) }}" class="hero-cta"><strong>{{ torneo.name }}</strong></a>
                </div>
            </div>
        {% else %}
            <p>Aún no has creado ningún torneo.</p>
        {% endfor %}
            </div>
        </section>

        <div class="lower-sections">
            <section class="section-container">
                <h2>Torneos seguidos</h2>
                <hr>
                {% for seguido in seguidos %}
                <div class="card">
                    <div class="card-img">Image</div>
                    <div class="card-info"><strong>Nombre Torneo</strong><p>Fecha / Estado</p></div>
                </div>
                {% else %}
            <p>Aún no has creado ningún torneo.</p>
        {% endfor %}
            </section>
        </div>
    </main>
{% endblock %}