{% extends 'base.html.twig' %}
{% block body %}
        <div class="web">
            <nav class="navigator-bar">
                <ul>
                    <li class="logoFC"><a href="#"><img src="../../public/img/logo.png" alt="friendlyLogo"></a></li>
                    <li><search>Buscar Torneo</search></li>
                    <li class="crear-torneo"></li>
                    <li class="myaccount"></li>
                </ul>
            </nav>
            <div class="main-content-torneo">
                <div class="page-torneo">
                    <div class="torneo-header">
                        <header></header>
                        <button type="button"><a href="#">Seguir</a></button>
                    </div>
                    <nav class="navigator-torneos">
                        <ul>
                            <li><a href=""></a></li>
                        </ul>
                    </nav>
                </div>
                <aside class="fantasy-card"></aside>
            </div>
        </div>
        <footer>
            <p>&copy; Samuel Aded, Abel Sabater, Álvaro Ruiz - FriendlyCup</p>
            <p>Todos los derechos reservados</p>
        </footer>
{% endblock %}