<div class="section-content">
    <h3>Rendimiento de Jugadores</h3>
    <div class="stats-table-container">
        <table class="stats-table">
            <thead>
            <tr>
                <th>Jugador</th>
                <th>Equipo</th>
                <th style="text-align: center;">Puntos</th>
            </tr>
            </thead>
            <tbody>
            {% for estadistica in estadisticas %}
                <tr>
                    <td>{{ estadistica.jugador.nombre }}</td>
                    <td>{{ estadistica.jugador.equipo.nombre }}</td>
                    <td style="text-align: center; color: #cdc832;">{{ estadistica.valor }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>